.pong {
  padding: 100px 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#squares div {
  /* these styles will let the divs line up next to each other
     while accepting dimensions */
  width: 25px;
  height: 25px;

  /* a small margin to separate the blocks */
  margin-bottom: 5px;
}
#square1 {
  background: green;
  border: black solid 1px;
}
#square2 {
  background: orange;
  border: black solid 1px;
}
#square3 {
  background: purple;
  border: black solid 1px;
}

/* .spaceBetweenStyle {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.squareText {
  margin-top: 5px;
  margin-left: 8px;
  font-weight: 500;
  color: black;
}
